@mixin flex($property, $property1, $property2) {
    display: flex;
    flex-direction: $property;
    justify-content: $property1;
    align-items: $property2;
}
@mixin box($width,$height,$boxsizing){
    width: $width;
    height: $height; 
    box-sizing: $boxsizing;   
}